.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @BoxiangW @HuiyingLi
recipes @akoumpa @BoxiangW @HuiyingLi
README.md @akoumpa @BoxiangW @HuiyingLi
